# created by virtualenv automatically

AlgorithmCanni/cpp/cv/.vs
AlgorithmCanni/cpp/cv/Debug

AlgorithmCanni/cpp/cv/cv.sln
AlgorithmCanni/cpp/cv/cv.vcxproj
AlgorithmCanni/cpp/cv/cv.vcxproj.filters
AlgorithmCanni/cpp/cv/cv.vcxproj.user
.idea/*
movies/*
imgs/*
AlgorithmCanni/cpp/cv/Debug/*
venv
Detectros/DATASET_TRAIN
Detectros/Hands.zip
Detectros/imageLabelingSession.mat
Detectros/tra.png
Detectros/Screenshot 2023-12-06 150229.png
Detectros/Matlabl/SSD/resnet-50
Detectros/Matlabl/SSD/ExtraData.mat
Detectros/Matlabl/SSD/detector.mat
/AlgorithmCanni/cpp/cv/x64/
